.card {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.2);
  z-index: 10;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0);
}

.card .info h3 {
  font-size: 1rem;
  margin: 0;
}
.ant-modal-mask {
  cursor: pointer;
}
